<div class="center jumbotron">
	<h1>COLLECT ALL HTML ELEMENTS</h1>
	<h1>My First Heading</h1>
	<p>My first paragraph.</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR4signup_pathlTP5v0uSeMGaa8ztqOaRHh_3yMEb8g_ZzR0GwNNBD9mMgZ", alt: "Rails logo"),
            'http://rubyonrails.org/' %>